<h1 class="title">{{title}}</h1>
<div class="cont">

    <br>
    <form>
        Numero 1 <input type="text" [(ngModel)]="numero1" name="numero1"><br><br>

        Numero 2 <input type="text" [(ngModel)]="numero2" name="numero2"><br><br>

        <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-secondary">
        <input type="submit" value="Restar" (click)="restar()" class="btn btn-primary">
        <input type="submit" value="multiplicar" (click)="multiplicar()" class="btn btn-success">
        <input type="submit" value="dividir" (click)="dividir()" class="btn btn-danger">
        <br>
        <br>

        <h2>Resultado : {{resultado}}</h2>

    </form>

</div>